#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #000304aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.page,
.projects-wrapper,
.contact-wrapper {
  background: transparent;
}


body {
  background-color: #000000;   /* black */
  color: #ffffff;              /* white text */
  font-family: Arial, sans-serif;
}

/* Cards on dark background */
.soft-card,
.skill-box,
.project-card,
.education-card,
.contact-info-box {
  background-color: #111111;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(255,255,255,0.05);
}


.btn-soft:hover,
.project-btn:hover {
  background-color: #59339d;
}


/* Navbar */
.navbar {
  background: linear-gradient(135deg, #0e3fc5, #464343);
}

.navbar-brand,
.navbar a {
  color: #eae5e5 !important;
  font-weight: 500;
}

/* Section spacing */
.page {
  padding: 90px 0;
}

/* Headings */
h1, h2, h3, h4, h5 {
  font-weight: 400;
}


.soft-card {
  background: #e2a7a7;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

/* EDUCATION  */
.education-card {
  background: linear-gradient(135deg, #0e3fc5, #464343);
  border-left: 5px solid #978ad0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 18px;
}

/* SKILLS */
.skill-box {
  background: linear-gradient(135deg, #0e3fc5, #464343);
  border-radius: 14px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(177, 23, 23, 0.06);
}
.skill-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 30px rgba(42, 25, 25, 0.12);
  }
  .skill-icon{
    color: #000000;
    height: 50px;

  }

/*  PROJECTS  */
.projects-wrapper {
  background-color: black;
}

.project-card {
   background: linear-gradient(135deg, #0e3fc5, #464343); 
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 30px rgba(42, 25, 25, 0.12);
}

.project-img {
  height: 200px;
  object-fit: cover;
}

.project-body {
  padding: 22px;
  
}

.project-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  
}

.project-text {
  font-size: 15px;
  color: hsla(0, 6%, 90%, 0.989);
  line-height: 1.6;
}

.project-btn {
  border: none;
  color: hwb(0 78% 18% / 0.942);
  padding: 8px 22px;
  border-radius: 6px;
  background-color: #000000;
}

.project-btn:hover {
  background-color: #0f0f0f;

}



/*  CONTACT  */
.contact-form-box {
  background: linear-gradient(135deg, #0e3fc5, #464343);
  padding: 40px;
  border-radius: 14px;
  color: white;
}

.contact-info-box {
  background: rgb(15, 75, 135);
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
/*  CONTACT (LIGHT THEME) */
.contact-wrapper {
  background-color:black;
  padding: 90px 0;
}

.contact-form-box {
  background: linear-gradient(135deg, z#00040f, #7b240a);
  padding: 40px;
  border-radius: 14px;
  color: white;
}

.contact-form-box h4 {
  font-weight: 400;
}

.contact-form-box input,
.contact-form-box textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f3ece9;
  border-radius: 0;
  color: white;
}

.contact-form-box input::placeholder,
.contact-form-box textarea::placeholder {
  color: #f5f0ed;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid white;
}

.send-btn {
    background-color:white;
  color: black;
  border: none;
  padding: 10px 26px;
  border-radius: 6px;
  font-weight: 500;
}

.send-btn:hover {
  color: white;
     background-color: #030b44;


}

/* RIGHT SIDE INFO */
.contact-info-box {
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    background: linear-gradient(135deg, #0e3fc5, #464343);

}

.contact-info-box img {
  width: 110px;
  border-radius: 50%;
  margin-bottom: 20px;

}

.contact-info-item {
  margin-bottom: 14px;
  font-size: 15px;
  color: #e7e3e3;

  

}
